body {
  font-family: roboto, Arial, Helvetica, sans-serif;
}
main {
  max-width: 960px;
  margin: 0 auto;
}

/* gallery */
#photobox {
  position: relative;
}
#photobox #photo {
  width: 100%;
  height: auto;
  border-bottom-right-radius: 550px 250px;
  border-bottom-left-radius: 10px 10px;
}

#btn-gallery {
  position: absolute;
  z-index: 3;
  top: 15px;
  right: 15px;
  padding: 5px;
  width: 42px;
  height: 42px;
  background-color: white;
  opacity: 0.2;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  visibility: hidden;
}
#btn-gallery span {
  float: left;
  width: 10px;
  height: 10px;
  margin: 2px;
  background-color: darkslategray;
  color: darkslategray;
  font-size: 10px;
  opacity: 1;
}
#btn-gallery:hover {
  opacity: 0.4;
}
#btn-gallery:hover span {
  background-color: grey;
  color: grey;
}

#btn-close {
  position: absolute;
  z-index: 3;
  top: 15px;
  right: 15px;
  padding: 5px;
  width: 42px;
  height: 42px;
  border: 1px solid grey;
  opacity: 0.2;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  color: grey;
  user-select: none;
  visibility: hidden;
}
#btn-close span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 40px;
}
#btn-close:hover {
  opacity: 0.4;
}

#gallery {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  padding: 25px;
  border-bottom-right-radius: 550px 250px;
  border-bottom-left-radius: 10px 10px;
  visibility: hidden;
}
#gallery img {
  width: 20%;
  float: left;
  margin: 5px;
  opacity: 0.7;
  cursor: pointer;
}
#gallery img:hover {
  opacity: 1;
}

/* info */
#info {
  position: relative;
}
#info-inner {
  top: -120px;
  right: 2%;
  position: absolute;
  text-align: right;
  color: LightSlateGray;
  font-size: x-large;
  font-weight: 300;
  z-index: 1;
}
#info address {
  font-style: normal;
}
